.section {
  background: #eef0f4;
  padding: 20px 0;

  .container {
    padding: 0 100px;

    @media (max-width: 990px) {
      padding: 0 50px;
    }
    @media (max-width: 768px) {
      padding: 0 20px;
    }
    @media (max-width: 425px) {
      padding: 0 10px;
    }
    @media (max-width: 374px) {
      padding: 0;
    }
    .content_wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;

      .profile {
        background: #fff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        margin-bottom: 30px;
        padding: 15px;
        position: relative;
        transition: all 0.4s ease-in-out;

        @media (max-width: 374px) {
          padding: 4px 3px;
        }
        .content_profile {
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;

          div {
            display: flex;
            align-items: center;

            .icon {
              font-size: 18px;
              margin-left: 10px;
              color: #201032;
              @media (max-width: 374px) {
                font-size: 16px;
              }
            }
            h4 {
              font-size: 20px;
              color: #5b5a5e;
              @media (max-width: 374px) {
                font-size: 16px;
              }
            }
          }

          .arrow {
            color: #201032;
          }
        }

        .sectionContent {
          position: relative;
          opacity: 0;
          transform: translateY(10px);
          background: #f4941f;
          overflow: hidden;
          margin-bottom: 10px;
          width: 100%;
          bottom: -10px;
          right: 0;
          border-radius: 8px;
          width: 100%;
          height: 100%;
          transition: all 0.4s ease-in-out;
        }

        &.active {
          .sectionContent {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
}
