.section {
  padding: 20px;
  @media (max-width: 374px) {
    padding: 0;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-auto-rows: min-content;
    gap: 20px;
    width: 100%;

    .box {
      background-color: #fff;
      padding: 5px 10px;
      border: 0.7px solid #fff;
      border-radius: 3px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      overflow-x: auto;
      transition: all 0.4s ease-in-out;
      cursor: pointer;
      @media (max-width: 374px) {
        border: none;
      }
      h1 {
        color: #101816;
        font-size: 19px;
        margin-bottom: 8px;
      }
      .info {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        gap: 5px;

        p {
          display: flex;
          align-items: center;
          justify-content: space-between;

          gap: 22px;
          font-size: 15px;

          span {
            font-size: 18px;
            color: #363738;
          }
        }
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.box_last {
  background-color: #fff;
  padding: 5px 10px;
  border: 0.7px solid #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  overflow-x: auto;
  transition: all 0.4s ease-in-out;
  cursor: pointer;

  p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    font-size: 18px;
    color: #363738;
    span {
      font-size: 15px;
      color: #101816;
    }
  }

  &:hover {
    transform: scale(1.1);
  }
}

.container_exper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
  .box {
    flex: 1;
    padding: 10px 20px;
    background-color: #fff;
    border: 0.7px solid #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    margin-bottom: 20px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;

    h1 {
      color: #101816;
      font-size: 19px;
      margin-bottom: 8px;
    }
    .info {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      gap: 5px;
      p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // gap: 22px;
        font-size: 15px;

        span {
          font-size: 18px;
          color: #363738;
        }
      }
    }

    &:hover {
      transform: scale(1);
    }
  }
}

// component spacial of OtherInformation
.container_information {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  width: 100%;

  .box {
    padding: 5px 10px;
    background: #fff;
    border: 0.7px solid #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    @media (max-width: 374px) {
      border: none;
    }
    h1 {
      color: #101816;
      font-size: 19px;
      margin-bottom: 8px;
    }
    .info {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      gap: 5px;

      p {
        display: flex;
        align-items: center;
        justify-content: space-between;

        gap: 22px;
        font-size: 15px;

        span {
          font-size: 18px;
          color: #363738;
        }
      }
    }

    &:hover {
      transform: scale(1.1);
    }
  }
  .box_boolean {
    padding: 10px 20px;
    border: 0.5px solid #fff;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    // margin-bottom: 20px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;

    .true {
      background-color: #5b5a5e;
      margin-top: 20px;
      border-radius: 5px;
      padding: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
  }

  .box_box {
    padding: 5px 10px;
    border: 0.5px solid #5b5a5e;
    background-color: #5b5a5e;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    margin-top: 15px;

    h1 {
      color: black;
      font-size: 19px;
      margin-bottom: 8px;
    }
    .info {
      display: flex;
      flex-direction: column;
      gap: 5px;

      p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 22px;

        span {
          font-size: 16px;
          color: #888990;
        }
      }
    }
  }
}
.box_boo {
  height: min-content;
}
